$huge: #ef018d;
$metro-green: #12aa0a;
$metro-yellow: #f9f60b;

body {
  margin: 30px;

  .huge-header {font-family: Huge}
  .huge {font-family: HugeBody}

  .panel {
    width: 49%;
    float: left;
    border-color: $huge;

    &:last-child {
      float: right;
    }

    .panel-heading {
      background: $huge;
      border-color: $huge;
    }

    td {
      padding-left: 15px;
    }

    &.bikeshare {

      .stationName {
        width: 50%;
      }

      .progress {
        margin-bottom: 0px;

        .progress-bar {
          background-color: $huge;
        }
      }
    }

    &.metro {

      td {
        padding-bottom: 2px;

        &.lineColors div {
          display: inline-block;
          height: 25px;
          width: 25px;

          &.green {
            background: $metro-green;
          }

          &.yellow {
            background: $metro-yellow;
          }
        }
      }
    }
  }
}

@font-face {font-family: HugeBody; src: url('http://www.hugeinc.com/content/css/fonts/GalaxieCopernicus-Book.woff')}
@font-face {font-family: Huge; src: url('http://www.hugeinc.com/content/css/fonts/huge_agb_v5-webfont.woff')} 