body {
  margin: 30px; }
  body .huge-header {
    font-family: Huge; }
  body .huge {
    font-family: HugeBody; }
  body .panel {
    width: 49%;
    float: left;
    border-color: #ef018d; }
    body .panel:last-child {
      float: right; }
    body .panel .panel-heading {
      background: #ef018d;
      border-color: #ef018d; }
    body .panel td {
      padding-left: 15px; }
    body .panel.bikeshare .stationName {
      width: 50%; }
    body .panel.bikeshare .progress {
      margin-bottom: 0px; }
      body .panel.bikeshare .progress .progress-bar {
        background-color: #ef018d; }
    body .panel.metro td {
      padding-bottom: 2px; }
      body .panel.metro td.lineColors div {
        display: inline-block;
        height: 25px;
        width: 25px; }
        body .panel.metro td.lineColors div.green {
          background: #12aa0a; }
        body .panel.metro td.lineColors div.yellow {
          background: #f9f60b; }

@font-face {
  font-family: HugeBody;
  src: url("http://www.hugeinc.com/content/css/fonts/GalaxieCopernicus-Book.woff"); }
@font-face {
  font-family: Huge;
  src: url("http://www.hugeinc.com/content/css/fonts/huge_agb_v5-webfont.woff"); }
